<!DOCTYPE html>
<html ng-app='app'>
<head>
    <title>Webcat Tamer</title>
    <link rel="stylesheet" type="text/css" href="style/base.css">
    <link rel="stylesheet" type="text/css" href="style/code.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body ng-controller='todoCtrl'>


    <div id='navbar' class='col col-3'>
      <h1 id='logo'>Webcat Tamer</h1>
      <hr>
      <input id="search" class='col-12' type="text" placeholder="Search...">
      <div id='navlist'>
        <ul id='navul'>
          <li class='click tabli' ng-repeat="tab in todoList" ng-class="{active:isActiveTab(tab.title)}" ng-click="onClickTab(tab)">
            <h3 class='nav-title'>{{tab.title}}</h3>
          </li>
        </ul>
      </div>
      <span id='navfooter'>
        {{(todoList).length}} Review sheets
        <a id="remove-all" class='click' ng-click='removeAll()' ng-show="todoList.length > 0">Clear all</a>
      </span>
    </div>


    <div id='mainView' class='col col-9 push-3'>
      <div class='row clear'>
        <h2 id='title'>{{currentTab.title}}</h2>
        <a id='remove' class='right click' ng-click='remove(currentTab)'> Remove </a>
      </div>
      <div id='codebox' ng-bind-html="currentTab.content | to_trusted"></div>
    </div>


    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/todoCtrl.js"></script>
    <script type="text/javascript" src="app/todoStorage.js"></script>
</body>
</html>