<!DOCTYPE html>
<html ng-app='app'>
<head>
    <title>Webcat Tamer</title>
    <link rel="stylesheet" type="text/css" href="style/email.css">
    <link rel="stylesheet" type="text/css" href="style/code.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <main class="main" role="main">
      <div class="flex">

    <div id='navbar' class='module inbox-view' ng-controller='tamerCtrl'>
      <div class="module__title">
        <h1 id='logo'>Webcat Tamer</h1>
      </div>
      <span >
        <a href="/app/index.html#/">Dashboard </a>
        <a id="view-all" class='click' href="/app/index.html#/all/" ng-show="hwList.length > 0">View All</a>
      </span>
      <input id="search" class='inbox__search' type="text" ng-model="searchString" placeholder="Search...">
      <div id='navlist'>
        <ul id='navul'>
          <li ng-repeat="tab in hwList | searchFor:searchString" ng-class="{active:isActiveTab(tab.title)}" >
            <a ng-href="#/hw/{{tab.time}}">{{tab.title}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div id='mainView' class='module directive'>
      <data-ng-view></data-ng-view>
    </div>
</div>
</main>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="tamerCtrl.js"></script>
    <script type="text/javascript" src="tamerStorage.js"></script>
</body>
</html>
