<div class="email" ng-controller='dashCtrl'>
  <h2>{{(hwList).length}} Review sheets</h2>
  <div class='' ng-repeat="tab in hwList">
    <div class='nav-title'>
      <h3 class="inline">
        {{tab.title}}
      </h3>
      <a ng-href="#/hw/{{tab.time}}">View</a>
      <table class="gradebox">
        <tbody>
          <tr class="o">
            <td>Design/Readability:</td>
            <td ng-bind-html="tab.designScore | to_trusted"></td>
          </tr>
          <tr class="e">
            <td>Style/Coding:</td>
            <td ng-bind-html="tab.styleScore | to_trusted"></td>
          </tr>
          <tr class="o">
            <td>Correctness/Testing:</td>
            <td ng-bind-html="tab.testScore | to_trusted"></td>
          </tr>
          <tr class="e">
            <td>Final score:</td>
            <td ng-bind-html="tab.totalScore | to_trusted"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
 